


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
    font-family: -apple-system, 
            BlinkMacSystemFont, 
            "Segoe UI", 
            Roboto, 
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue", 
            sans-serif;
}

/*////////////
//
// Top Bar Header
//
////////////*/

div.PageFrame {
    /*background-image: linear-gradient(100deg, #013A6B 20%, #004E95 50%);*/
}

div.Header  {
    display: flex;
    align-items: center;
    height: 60px !important;
    /*background-color: rgba(0, 0, 0, 0) !important;*/
    background-image: linear-gradient(100deg, #013A6B 20%, #004E95 50%);
/*    margin: 0 auto;
    max-width: 960px;*/
}

div.Header:before {
    content: "RunningAHEAD";
    color: #c9daed;
    font-size: 28px;
    font-weight: bold;
    margin-left: 12px;
    letter-spacing: 0.5px;
    background: linear-gradient(90deg, white 53%, #c9daed 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.RALogo {
    display: none !important; 
}

.Notifications {
    bottom: 0 !important;
    left: 0 !important;
    position: inherit !important;
    /*margin-left: auto;*/
}

.RANotifyButton {
    padding: 10px !important;
}

.Icon.Icon.Icon {
    height: 24px;
    width: 24px;
    fill: #333399;
}

div.PageFrame {
    min-width: 0 !important;
}

div.UserAccount {
    border: 0 !important;
    padding: 0 !important;
    position: initial !important;
    display: none;
}

div.PageFrame div.UserAccount div.Account {
    line-height: 0 !important;
    padding: 0 !important;
}

div.PageFrame div.UserAccount div.Account span.Icon {
    display: none !important;
}

.Notifications a:hover {
    transition: 200ms;
}

#ctl00_ctl00_ctl00_SiteContent_m_numMessages, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numMessages {
    background: url('chrome-extension://__MSG_@@extension_id__/img/envelope-closed.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}

#ctl00_ctl00_ctl00_SiteContent_m_numComments, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numComments {
    background: url('chrome-extension://__MSG_@@extension_id__/img/chat.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}

#ctl00_ctl00_ctl00_SiteContent_m_numImports, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numImports {
    background: url('chrome-extension://__MSG_@@extension_id__/img/data-transfer-download.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}

/*////////////
//
// Options Header
//
////////////*/

ul.RANav1Menu li {
    border: 0 !important;
}

ul.RANav1Menu li:hover span.Flyout {
    background: red !important;
}

.RANav1Menu.RANav1Menu.RANav1Menu { 
    max-width: 960px;
    margin: 0 auto;
    padding-left: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0); 
    display: flex;
    align-items: center;
}

.RASiteMenuButton.RASiteMenuButton.RASiteMenuButton {
    background: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.75px;
    padding: 10px;
}

ul.RANav1Menu li:hover *.RASiteMenuButton,
ul.RANav1Menu li:hover span.Flyout
{
    transition: 100ms;
    background: none !important;
    color: #004E95;
}

.RASiteMenu {
    height: 100% !important;
}

ul.RASiteMenu li.Hover {
    background-color: red;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0) !important; 
}

#ctl00_ctl00_ctl00_SiteContent_m_options, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_options {
    order: 99;
    margin-left: auto;
}

/*

Active tab 

*/

div.RATabs ul.Tabs li.Tab a,
div.RATabs ul.Tabs li.Tab span
{
    background: red !important;
}

div.RATabs ul.Tabs li.Tab a:hover,
div.RATabs ul.Tabs li.Tab span:hover
{
    background: green !important;
}

ul.Tabs li.Tab a,
ul.Tabs li.Tab span
{
    background: red !important;
}

ul.Tabs li.Tab a:hover,
ul.Tabs li.Tab span:hover
{
    background: green !important;
}


#ctl00_ctl00_ctl00_ctl00_SiteContent_m_subscribe, #ctl00_ctl00_ctl00_SiteContent_m_subscribe {
    display: none;
}

/*////////////
//
// Bodyframe
//
////////////*/

.BodyFrame.BodyFrame.BodyFrame{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0;
    border: 0;
}

.WidgetsLayout {

}