html {
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
    font-family: -apple-system, 
            BlinkMacSystemFont, 
            "Segoe UI", 
            Roboto, 
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue", 
            sans-serif;
}

/*////////////
//
// Top Bar Header
//
////////////*/

div.PageFrame {
    /*background-image: linear-gradient(100deg, #013A6B 20%, #004E95 50%);*/
    z-index: 1;
}

div.Header  {
    display: flex;
    align-items: center;
    height: 60px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    /*background-image: linear-gradient(100deg, #013A6B 20%, #004E95 50%);*/
    /*background: none !important;*/
    margin: 0 auto;
    max-width: 1100px;
    z-index: 40;
}

div.Header:before {
    content: "RunningAHEAD";
    color: #c9daed;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 0.5px;
    background: linear-gradient(90deg, white 53%, #c9daed 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

div.Header:after {
    position: absolute;
    width: 100vw;
    background: $bar-color;
    left: calc(-50vw + #{$width / 2});
    z-index: -1;
    margin: 0 -100rem;
    padding: 0 100rem;
    content: "";
    height: 60px;
    background-image: linear-gradient(100deg, #013A6B 35%, #004E95 55%);
    z-index: 1;
}


a.RALogo {
    display: none !important; 
}

.Notifications {
    bottom: 0 !important;
    left: 0 !important;
    position: inherit !important;
    margin-left: auto;
    z-index: 2; 
}

.RANotifyButton {
    padding: 10px !important;
}

.Icon.Icon.Icon {
    height: 24px;
    width: 24px;
    fill: #333399;
}

div.PageFrame {
    min-width: 0 !important;
}

div.UserAccount {
    border: 0 !important;
    padding: 0 !important;
    position: initial !important;
    display: none;
}

div.PageFrame div.UserAccount div.Account {
    line-height: 0 !important;
    padding: 0 !important;
}

div.PageFrame div.UserAccount div.Account span.Icon {
    display: none !important;
}

.Notifications a:hover {
    transition: 200ms;
}

#ctl00_ctl00_ctl00_SiteContent_m_numMessages, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numMessages {
    background: url('chrome-extension://__MSG_@@extension_id__/img/envelope-closed.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}

#ctl00_ctl00_ctl00_SiteContent_m_numComments, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numComments {
    background: url('chrome-extension://__MSG_@@extension_id__/img/chat.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}

#ctl00_ctl00_ctl00_SiteContent_m_numImports, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numImports {
    background: url('chrome-extension://__MSG_@@extension_id__/img/data-transfer-download.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}

/*////////////
//
// Options Header
//
////////////*/


ul.RANav1Menu li {
    border: 0 !important;
}

ul.RANav1Menu li:hover span.Flyout {
    /*background: red !important;*/
}

.RANav1Menu.RANav1Menu.RANav1Menu { 
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0); 
    display: flex;
    align-items: center;
    background: white;
}

.RASiteMenuButton.RASiteMenuButton.RASiteMenuButton {
    background: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    padding: 10px;
}

/*

This is the CSS that changes the hover color of the menu bar

*/

ul.RANav1Menu li *.RASiteMenuButton:hover,
ul.RANav1Menu li span.Flyout:hover
{
    background: none !important;
    color: #fc4c02;
}

#ctl00_ctl00_ctl00_SiteContent_menu1 {
    color: black;
}

ul.RASiteMenu ul {
    color: black !important;
}

.RASiteMenu {
    height: 100% !important;
}

.RANav2Menu {
    height: 36px !important;
    background: white !important;
    max-width: 1100px;
    margin: 0 auto !important;
    padding: 0 !important;
}

.RANav2Menu li {
    display: flex !important;
    align-items: center;
    border: 0 !important;
    margin: 0 !important;
}

ul.RASiteMenu li.Hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0) !important; 
}

ul.PopupMenu {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0) !important; 
}

ul.RASiteMenu ul {
    left: 0 !important;
    top: 36px !important;
}

#ctl00_ctl00_ctl00_SiteContent_m_options, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_options {
    order: 99;
    margin-left: auto;
}

.Selected {
    box-shadow: inset 0 -3px 0 -1px #013A6B;
}

/*

Active tab 

*/

div.RATabs ul.Tabs li.Tab a,
div.RATabs ul.Tabs li.Tab span
{
    /*background: red !important;*/
}

ul.Tabs li.Tab a,
ul.Tabs li.Tab span
{
    /*background: red !important;*/
}

#ctl00_ctl00_ctl00_ctl00_SiteContent_m_subscribe, #ctl00_ctl00_ctl00_SiteContent_m_subscribe {
    display: none;
}

/*////////////
//
// Bodyframe
//
////////////*/

.BodyFrame.BodyFrame.BodyFrame{
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 0;
    border: 0;
}

.WidgetsLayout {

}

#ctl00_ctl00_ctl00_SiteContent_PageContent_TrainingLogContent_m_layout {
    width: 100%;
}

/*////////////
//
// Side menu
//
////////////*/

/*ul.Menu li a {
    font-weight: bold;
}*/