
/*////////////
//
// Bodyframe
//
////////////*/

.BodyFrame.BodyFrame.BodyFrame{
		margin: 0 auto;
		width: 100%;
		max-width: 1100px;
		padding: 0;
		border: 0;
		display: flex;
		flex-direction: column;
}

#ctl00_ctl00_ctl00_SiteContent_PageContent_TrainingLogContent_m_layout {
		width: 100%;
}

/*////////////
//
// Side menu
//
////////////*/

/*ul.Menu li a {
		font-weight: bold;
}*/