/*////////////
//
// Top Bar Header
//
////////////*/

div.PageFrame {
    /*background-image: linear-gradient(100deg, #013A6B 20%, #004E95 50%);*/
    z-index: 1;
}

div.Header  {
    display: flex;
    align-items: center;
    height: 60px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    /*background-image: linear-gradient(100deg, #013A6B 20%, #004E95 50%);*/
    /*background: none !important;*/
    margin: 0 auto;
    max-width: 1100px;
    z-index: 40;
}

div.Header:before {
    content: "RunningAHEAD";
    color: #c9daed;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 0.5px;
    background: linear-gradient(90deg, white 53%, #c9daed 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

div.Header:after {
    position: absolute;
    width: 100vw;
    // background: $bar-color;
    // left: calc(-50vw + #{$width / 2});
    z-index: -1;
    margin: 0 -100rem;
    padding: 0 100rem;
    content: "";
    height: 60px;
    background-image: linear-gradient(100deg, #013A6B 35%, #004E95 55%);
    z-index: 1;
}


a.RALogo {
    // display: none !important; 
}

.Notifications {
    bottom: 0 !important;
    left: 0 !important;
    position: inherit !important;
    margin-left: auto;
    z-index: 2; 
}

.RANotifyButton {
    padding: 10px !important;
}

.Icon.Icon.Icon {
    height: 24px;
    width: 24px;
    fill: #333399;
}

div.PageFrame {
    min-width: 0 !important;
}

div.UserAccount {
    border: 0 !important;
    padding: 0 !important;
    position: initial !important;
    display: none;
}

div.PageFrame div.UserAccount div.Account {
    line-height: 0 !important;
    padding: 0 !important;
}

div.PageFrame div.UserAccount div.Account span.Icon {
    display: none !important;
}

.Notifications a:hover {
    transition: 200ms;
}

#ctl00_ctl00_ctl00_SiteContent_m_numMessages, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numMessages {
    background: url('chrome-extension://__MSG_@@extension_id__/img/envelope-closed.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}

#ctl00_ctl00_ctl00_SiteContent_m_numComments, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numComments {
    background: url('chrome-extension://__MSG_@@extension_id__/img/chat.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}

#ctl00_ctl00_ctl00_SiteContent_m_numImports, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_numImports {
    background: url('chrome-extension://__MSG_@@extension_id__/img/data-transfer-download.svg') no-repeat;
    background-size: cover;
    fill: #333399;
}