$font-family: -apple-system, 
				BlinkMacSystemFont, 
				"Segoe UI", 
				Roboto, 
				Oxygen,
				Ubuntu,
				Cantarell,
				"Open Sans",
				"Helvetica Neue", 
				sans-serif;

$base-font-size: 16px;

$transition: 200ms;

$deep-blue: #013A6B;