/*////////////
//
// Options Menu
//
////////////*/

// Menu 1

.RANav1Menu.RANav1Menu.RANav1Menu { 
	max-width: 1100px;
	margin: 0 auto;
	padding-left: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0); 
	display: flex;
	align-items: center;
	background: white;
}

.RANav1Menu li a.RASiteMenuButton {
	background: rgba(0, 0, 0, 0) !important;
	border: 0 !important;
	font-size: $base-font-size !important;
	font-weight: normal !important;
	letter-spacing: 0 !important;
}

.RASiteMenuButton.RASiteMenuButton.RASiteMenuButton {
	padding: 4px;
}

ul.RANav1Menu li {
	border: 0 !important;
}


#ctl00_ctl00_ctl00_SiteContent_menu1 li,
#ctl00_ctl00_ctl00_SiteContent_menu2 li,
#ctl00_ctl00_ctl00_SiteContent_menu3 li,
#ctl00_ctl00_ctl00_SiteContent_menu4 li, 
#ctl00_ctl00_ctl00_ctl00_SiteContent_menu1 li, 
#ctl00_ctl00_ctl00_ctl00_SiteContent_m_resources li, 
#ctl00_ctl00_ctl00_ctl00_SiteContent_m_community li, 
{
	margin: 0 !important;
	background: none !important;
	padding: 0 !important;

	&:hover {
		transform: translateX(8px);
		color: $deep-blue;
		box-shadow: $deep-blue -9px 0px 0px 0px;
		background-color: white;
		transition: 200ms;
		border-radius: 0px !important;
	}
}

ul.RANav2Menu {
	border-bottom: 1px solid $deep-blue !important;
}

ul.RANav2Menu li.Hover ul.PopupMenu {
	border: 1px $deep-blue solid !important;
}

.RASiteMenu {
		height: 100% !important;
}

// Menu 2

.RANav2Menu {
		display: flex !important;
		height: 32px !important;
		background: white !important;
		max-width: 1100px;
		margin: 0 auto !important;
		padding: 0 !important;

		li {
			display: flex !important;
			align-items: center;
			border: 0 !important;
			margin: 0 !important;

			a {
				border: none !important;
				background: none !important;
				font-size: $base-font-size;
			}
		}
}

ul.RASiteMenu li.Hover {
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0) !important; 
}

ul.PopupMenu {
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0) !important; 
}

ul.RASiteMenu ul.PopupMenu {
	border: 1px solid $deep-blue !important;
	left: 0 !important;
	top: 32px !important;
}

#ctl00_ctl00_ctl00_SiteContent_m_options, #ctl00_ctl00_ctl00_ctl00_SiteContent_m_options {
		order: 99;
		margin-left: auto;
}

.Selected {
		box-shadow: inset 0 -3px 0 -1px $deep-blue;
}